@import "./main.scss";


$font-family: 'Montserrat', sans-serif;
$border-color: #9a9a9a;
$background-color: #f2f2f2;
$background-color-red: #FF6060;
$text-color: white;

html {

  height: 100%;
    body {
      font-family: $font-family;
      margin: 2em 5em;
    }

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  border-radius: 8px;
  margin: 16px;
  text-align: center;
  width: 28%;
  background-color: #FF6060;
  color: $text-color;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }

  .card-title h2 {
    margin: 16px 0;
    font-size: 1.5em;
  }

  .card-description p {
    font-size: 1em;
    color: $text-color;
  }
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  
    ul {
      display: flex;
      flex-direction: row;
      gap: 4em;

      li {
        list-style: none;
        
        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 1.5em;
        }
      }
    }
}

.header {
  display: none;
}

.banner {
  position: relative;
  text-align: center;
  color: white;

  .banner-image {
    width: 100%;
    height: auto;
  }

  .banner-text {
    font-family: $font-family;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    
  }
}

.gallery {
  background-color: $background-color;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 1.5em;
  margin: 2em 0;
}


.location-container {
  width: 100%;
  margin: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;

  .carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;

    img {
      width: 100%;
      display: block;
      border-radius: 25px;
    }
  }
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 2;

  &.left-arrow {
    left: 15px;
  }

  &.right-arrow {
    right: 15px;
  }
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  
  h1 {
    margin: 0;
    font-weight: 500;
    color: $background-color-red;
  }
  p{
    margin-top: 6px;
    font-weight: 500;
  }

}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px 0;

  span {
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 0.7em;
  }
}

.host-info {
  display: flex;
  gap: 1em;
  align-items: center;
  color: $background-color-red;
  

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.rating {
  font-size: 1.5rem;
  color: gold;
}



.dropdown, .about-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-start;

  &.about-dropdown {
    flex-direction: column;

    .dropdown-active {
      width: 100%;
      display: flex;
      gap: 3em
      9;
    }
  }

    .dropdown-active {
      width: 45%;
      display: flex;
      flex-direction: column;
      
    }

      .dropdown-item{
        color: white;
        background: #FF6060;
        padding: 6px 10px;
        border-radius: 8px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        flex-wrap: wrap;
      


        button {
          background: none;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          color: white;
        }
        
        span {
          flex-grow: 1;
        }
    
        .arrow-button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          transition: transform 0.3s ease;
    
          &.rotate {
            transform: rotate(180deg);
          }
        }
        

        }
        
}
.dropdown-content{
  max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    opacity: 0;
  
    &.open {
      max-height: 200px; /* Adjust height as needed */
      opacity: 1;    
  }   
  p, ul {
      color: black;
      margin-top: 0;
      padding: 24px 16px;
      width: 100%;
      border: none;
      background-color: #f9f9f9;
      }
}



footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2em;
  width: 100vw;
    img{
      width: 100%;
    }
}


.hiden {
  display: none!important;
}

    // MEDIA QUERIES //



@media all and (max-width:$mobile){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}

@media all and (min-width:$mobile) and (max-width:$tablette){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$desktop) and (max-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
